
[program:zeoserver]
command = ${buildout:directory}/bin/zeoserver console
process_name = zeoserver
directory = ${buildout:directory}/parts/zeoserver
user = plone_daemon
priority = 10
redirect_stderr = true
environment=SUPERVISOR_USERNAME='admin',SUPERVISOR_PASSWORD='Admin;-)',SUPERVISOR_SERVER_URL='http://localhost:9001'


[eventlistener:MemmonZeoserverInstance]
command = ${buildout:directory}/bin/memmon -p zeoserver=6GB
events = TICK_60
process_name=MemmonZeoserverInstance
environment=SUPERVISOR_USERNAME='admin',SUPERVISOR_PASSWORD='Admin;-)',SUPERVISOR_SERVER_URL='http://localhost:9001'


[eventlistener:HttpOkZeoserverInstance]
command = ${buildout:directory}/bin/httpok -p zeoserver -t 20 http://127.0.0.1:${zeoserver:monitor-address}
events = TICK_60
process_name=HttpOkZeoserverInstance
environment=SUPERVISOR_USERNAME='admin',SUPERVISOR_PASSWORD='Admin;-)',SUPERVISOR_SERVER_URL='http://localhost:9001'
#autostart = false

