
[debug-eggs]
recipe = zc.recipe.egg

# Commonly used development tools:
# * Clouseau uses AJAX to provide a Python prompt inside Plone
# * DocFinderTab puts an object documentation inspector in the Zope Management Interface
# * Gloworm is a Firebug-like viewlet inspector and customizer
# * plone.reload allows you to refresh Python code and ZCML configuration
#   without restarting Zope. Note that to use plone.reload, you'll also
#   need to uncomment the "zcml" entry for it below.
#
eggs =
    Products.DocFinderTab
#    Products.ZMIntrospection

    plone.app.debugtoolbar

#    Products.PDBDebugMode

#    z3c.deadlockdebugger
#    zopyx.plone.cassandra
#    plone.introspector
#    Products.PTProfiler
#    Products.ZopeProfiler
#    Products.LongRequestLogger
#    Products.ZopeHealthWatcher
#    Products.Gloworm
#    collective.searchandreplace
#    collective.stats
#    collective.portlet.debuginfo
#    teamrubber.theoracle
#    uwosh.northstar
#    zodbbrowser
#    zope2.zodbbrowser

zcml = 
#    z3c.deadlockdebugger
#    zopyx.plone.cassandra
#    plone.introspector
#    collective.searchandreplace
#    collective.portlet.debuginfo
#    teamrubber.theoracle
#    zope2.zodbbrowser

[debug-products]
recipe = plone.recipe.distros
urls = 
#       http://www.dieter.handshake.de/pyprojects/zope/ZopeProfiler.tgz
#       http://www.llakomy.com/Projects/ZPTDebugger/ZPTDebugger-1.1.2.tar.gz
#       http://www.zope.org/Members/nuxeo/Products/DeadlockDebugger/1.0/DeadlockDebugger-1.0.tgz
nested-packages =
version-suffix-packages = 

[zopepy]
# installs a zopepy python interpreter that runs with your
# full Zope environment
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[ipzope]
# a IPython Shell for interactive use with zope running.
# you also need to put
# https://svn.plone.org/svn/collective/dotipython/trunk/ipy_profile_zope.py
# to your $HOME/.ipython directory for the following to work.
recipe = zc.recipe.egg
eggs = ipython
       ${instance:eggs}
initialization =
       import sys, os
       os.environ["INSTANCE_HOME"] = "${instance:location}"
       sys.argv[1:1] = "--profile zope".split()
scripts = 
    ipython=ipzope
    ipython

[zhw]
recipe = zc.recipe.egg
eggs = Products.ZopeHealthWatcher
scripts = zope_health_watcher
