[sources]
############################################
# Sources
# -------
# Specify packages under development here.
#
# See http://pypi.python.org/pypi/mr.developer for mr.developer source specifications.
# <name> = <kind> [key=value] <url> [path] [key=value]
# kind = The kind of repository. Currently supported are one of svn (>= 1.5), hg, git, cvs or fs.
#
# Examples: to check out plonetheme.sunburst from Plone's svn, use:
# plonetheme.sunburst = svn https://svn.plone.org/svn/plone/plonetheme.sunburst/trunk
# plonetheme.sunburst = git https://github.com/plone/plonetheme.sunburst.git
# To use a python package that is being developed in your src subdirectory, use:
# myproduct.betterplone = fs myproduct.betterplone
############################################

# LMU Specific Packages
lmu.policy.base                = git https://github.com/lmu/lmu.policy.base.git
lmu.policy.serviceportal       = git https://github.com/lmu/lmu.policy.serviceportal.git
lmu.policy.intranet            = git https://github.com/lmu/lmu.policy.intranet.git
lmu.theme.intranet             = git https://github.com/lmu/lmu.theme.intranet.git
lmu.theme.serviceportal        = git https://github.com/lmu/lmu.theme.serviceportal.git
lmu.contenttypes.blog          = git https://github.com/lmu/lmu.contenttypes.blog.git
lmu.contenttypes.pinnwand      = git https://github.com/lmu/lmu.contenttypes.pinnwand.git
lmu.contenttypes.polls         = git https://github.com/lmu/lmu.contenttypes.polls.git

# Generic Packages developed by LMU, but will be contributed to collective
#pas.plugins.shibboleth_headers = git https://github.com/loechel/pas.plugins.shibboleth_headers.git

# Generic Packages where current release state did not match requirements / implementations state or generic modification are necessary
Products.ZopeHealthWatcher     = git https://github.com/loechel/Products.ZopeHealthWatcher.git
plone.namedfile                = git https://github.com/plone/plone.namedfile.git
wildcard.foldercontents        = git https://github.com/collective/wildcard.foldercontents.git
plone.app.discussion           = git https://github.com/plone/plone.app.discussion.git branch=permission-fix-2.2.x-for_plone4
collective.quickupload         = git https://github.com/collective/collective.quickupload.git
plone.versioncheck             = git https://github.com/plone/plone.versioncheck.git pushurl=git@github.com:plone/plone.versioncheck.git branch=relative_paths

[buildout]

# Make use of the source packages for development
develop +=
    src/lmu.policy.base
    src/lmu.policy.serviceportal
    src/lmu.policy.intranet
    src/lmu.theme.intranet
    src/lmu.theme.serviceportal
    src/lmu.contenttypes.blog
    src/lmu.contenttypes.pinnwand
    src/lmu.contenttypes.polls
# Non LMU-Specific Packages that should be removed if those has been updated to the current patch level
    src/plone.namedfile
    src/wildcard.foldercontents
    src/plone.versioncheck

# Marker for LMU-Packages (used by translations / ...)
lmu_packages =
    lmu.policy.base
    lmu.policy.intranet
    lmu.policy.serviceportal
    lmu.theme.intranet
    lmu.theme.serviceportal
    lmu.contenttypes.blog
    lmu.contenttypes.polls
    lmu.contenttypes.pinnwand

extensions +=
    mr.developer

# mr.developer settings:
auto-checkout = *
sources = sources

always-checkout = force
update-git-submodules = always
sources-dir = src
always-accept-server-certificate = false
#mr.developer-threads = 10

############################################
# Test Packages
# ----------
# Specify a list of packages that you wish to explicity include in your test suite.
# Base eggs are automatically included
#
test-packages =
    lmu.policy.base
    lmu.policy.intranet
    lmu.policy.serviceportal
    lmu.theme.intranet
    lmu.theme.serviceportal
    lmu.contenttypes.blog
    lmu.contenttypes.polls
    lmu.contenttypes.pinnwand
